<table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td align="center" valign="top" style="background-color:#ffffff">
                <table border="0" width="660" cellpadding="0" cellspacing="0"
                    style="max-width:660px;width:100%;font-family: Arial, Helvetica, sans-serif;">
                    <tbody>
                        <tr>
                            <td align="center">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0"
                                                    style="min-height: 100px; background-color: #16455F;color: white;text-align: center;background: linear-gradient(#16455F 90% , transparent 10%);">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top">
                                                                <img width="100%"
                                                                    src="https://maxdigitizing.com/assets/mask//banenr1.jpg"
                                                                    style="min-height: 100px; background-color: #16455F;color: white;text-align: center;"
                                                                    alt="First order 100% FREE and 25% on all orders">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0"
                                                    style="font-size: 15px;color: black;padding-top: 20px;line-height: 22px;">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <p><span
                                                                        style="font-weight: bold;font-size: 24px;color: #16455F;">Hi,</span>
                                                                </p>
                                                                <p>We hope that you are safe and healthy.
                                                                    As unfortunately, there is no telling when things
                                                                    will be “back to normal”
                                                                    in
                                                                    any
                                                                    sense. Rest assured that we’re taking every
                                                                    precaution to help flatten the
                                                                    curve
                                                                    of
                                                                    this COVID-19.</p>

                                                                <p><a href="http://maxdigitizing.com/" target="_blank"
                                                                        rel="noopener noreferrer"><span
                                                                            style="font-weight: bold;color: #16455F;">MAX
                                                                            DIGITIZING</span></a>
                                                                    realize
                                                                    that at this period of pandemic, safety is the
                                                                    highest
                                                                    concern so we took precautions by choosing to
                                                                    digitize the logo on your mask
                                                                    only in
                                                                    $10 each as Face masks have become essential item in
                                                                    the pandemic, with many
                                                                    cities
                                                                    in the U.S.</p>
                                                                <p>Vector Formats: <span
                                                                        style="font-weight: bold;color: #16455F;font-size: 16px;">
                                                                        .ai, .eps, .pdf, .cdr, .png &amp; .jpg</span>
                                                                </p>
                                                                <p>Digitizing Formats: <span
                                                                        style="font-weight: bold;color: #16455F;font-size: 16px;">
                                                                        .dst, .pes, .pdf, .ofm, .jef, .pxf, .jpg</span>
                                                                </p>

                                                                <p>We always ensure to follow the certain modern work
                                                                    practices because Wearing
                                                                    masks
                                                                    is our shared responsibility to protect each other
                                                                    and reduce community
                                                                    transmission. The more we embrace this new normal,
                                                                    the more lives we'll
                                                                    save.
                                                                </p>

                                                                <p>FOR ORDER EMAIL US AT <a
                                                                        href="mailto:info@maxdigitizing.com"><span
                                                                            style="color: #16455F;text-decoration: underline;font-size: 17px;">info@maxdigitizing.com</span></a>
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="height: 40px;">
                                    <tbody>
                                        <tr>
                                            <td>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" style="padding-top: 20px; padding-bottom: 20px;">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size: 0;">
                                    <tbody>
                                        <tr>
                                            <td align="center">
                                                <div
                                                    style="display: inline-block;max-width: 220px;width: 100%;vertical-align: top;padding-bottom: 20px;">
                                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left" style="color: gray;">
                                                                    <table width="100%" border="0" cellpadding="0"
                                                                        cellspacing="0"
                                                                        style="min-height: 130px;color: white;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center">
                                                                                    <img style="min-height: 130px;color: white;background-color: #373737;border-radius: 17px;"
                                                                                        src="https://maxdigitizing.com/assets/mask/1.jpg"
                                                                                        alt="LEFT CHEST DIGITIZING"
                                                                                        width="95%">
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div
                                                    style="display: inline-block;max-width: 220px;width: 100%;vertical-align: top;padding-bottom: 20px;">
                                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left" style="color: gray;">
                                                                    <table width="100%" border="0" cellpadding="0"
                                                                        cellspacing="0"
                                                                        style="min-height: 130px;color: white;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center">
                                                                                    <img style="min-height: 130px;color: white;background-color: #373737;border-radius: 17px;"
                                                                                        src="https://maxdigitizing.com/assets/mask/2.jpg"
                                                                                        alt="LEFT CHEST DIGITIZING"
                                                                                        width="95%">
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div
                                                    style="display: inline-block;max-width: 220px;width: 100%;vertical-align: top;padding-bottom: 20px;">
                                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left" style="color: gray;">
                                                                    <table width="100%" border="0" cellpadding="0"
                                                                        cellspacing="0"
                                                                        style="min-height: 130px;color: white;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center">
                                                                                    <img style="min-height: 130px;color: white;background-color: #373737;border-radius: 17px;"
                                                                                        src="https://maxdigitizing.com/assets/mask/3.jpg"
                                                                                        alt="LEFT CHEST DIGITIZING"
                                                                                        width="95%">
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size: 0;">
                                    <tbody>
                                        <tr>
                                            <td align="center">

                                                <div
                                                    style="display: inline-block;max-width: 220px;width: 100%;vertical-align: top;padding-bottom: 20px;">
                                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left" style="color: gray;">
                                                                    <table width="100%" border="0" cellpadding="0"
                                                                        cellspacing="0"
                                                                        style="min-height: 130px;color: white;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center">
                                                                                    <img style="min-height: 130px;color: white;background-color: #373737;border-radius: 17px;"
                                                                                        src="https://maxdigitizing.com/assets/mask/4.jpg"
                                                                                        alt="LEFT CHEST DIGITIZING"
                                                                                        width="95%">
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div
                                                    style="display: inline-block;max-width: 220px;width: 100%;vertical-align: top;padding-bottom: 20px;">
                                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left" style="color: gray;">
                                                                    <table width="100%" border="0" cellpadding="0"
                                                                        cellspacing="0"
                                                                        style="min-height: 130px;color: white;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center">
                                                                                    <img style="min-height: 130px;color: white;background-color: #373737;border-radius: 17px;"
                                                                                        src="https://maxdigitizing.com/assets/mask/5.jpg"
                                                                                        alt="LEFT CHEST DIGITIZING"
                                                                                        width="95%">
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div
                                                    style="display: inline-block;max-width: 220px;width: 100%;vertical-align: top;padding-bottom: 20px;">
                                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left" style="color: gray;">
                                                                    <table width="100%" border="0" cellpadding="0"
                                                                        cellspacing="0"
                                                                        style="min-height: 130px;color: white;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center">
                                                                                    <img style="min-height: 130px;color: white;background-color: #373737;border-radius: 17px;"
                                                                                        src="https://maxdigitizing.com/assets/mask/6.jpg"
                                                                                        alt="LEFT CHEST DIGITIZING"
                                                                                        width="95%">
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size: 0;">
                                    <tbody>
                                        <tr>
                                            <td align="center">

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"
                                style="padding-top: 90px;background:#ffffff url(https://maxdigitizing.com/assets/smallbusiness/footer.png);background-repeat:no-repeat;background-position:center;background-size:contain;height: 171px;">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:0">
                                    <tbody>
                                        <tr>
                                            <td align="center" style="background-color: #16455f;border-radius: 5px;">
                                                <div
                                                    style="display:inline-block; max-width:220px; width:100%;vertical-align: middle;padding-top:10px;padding-bottom:10px;">
                                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left"
                                                                    style="color:gray;padding-left: 15px;padding-right:15px">
                                                                    <table width="100%" border="0" cellpadding="0"
                                                                        cellspacing="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center">
                                                                                    <a target="_blank"
                                                                                        href="http://maxdigitizing.com/"><img
                                                                                            src="https://maxdigitizing.com/assets/white_logo.png"
                                                                                            alt="maxdigitizing.com"
                                                                                            style="color: white;"
                                                                                            width="100%"></a>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div
                                                    style="display:inline-block; max-width:220px; width:100%;vertical-align: middle;padding-bottom:10px;">
                                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="right"
                                                                    style="color:gray;font-size: 14px;padding-top: 10px;font-weight: bold;min-width: 50px;">
                                                                    <a style=" text-decoration:none;"
                                                                        href="https://www.facebook.com/Maxdigitizers/"
                                                                        target="_blank">
                                                                        <img src="https://maxdigitizing.com/assets/Facebook.png"
                                                                            alt="facebook" width="35px"></a>
                                                                </td>
                                                                <td align="left"
                                                                    style="color:gray;font-size: 14px;padding-top: 10px;font-weight: bold;">
                                                                    <a style=" text-decoration:none;"
                                                                        href="https://www.facebook.com/Maxdigitizers/"
                                                                        target="_blank">
                                                                        <span
                                                                            style="font-size: 20px;color:white;font-weight: 300;margin-left: 6px;">Maxdigitizers</span></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div
                                                    style="display:inline-block; max-width:220px; width:100%;vertical-align: middle;padding-top:10px;padding-bottom:10px;">
                                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" style="color:gray;font-size: 14px;">
                                                                    <span
                                                                        style="font-size: 14px;color: white;font-weight: bold;line-height: 24px;">
                                                                        COMPANY ADDRESS
                                                                    </span><br>
                                                                    <span
                                                                        style="font-size: 12px;color: white;line-height: 16px;">
                                                                        ANGELS CAMP, CA 95222, USA
                                                                    </span><br>
                                                                    <span
                                                                        style="font-size: 12px;color: white;line-height: 16px;">
                                                                        1 209-890-8766
                                                                    </span><br>
                                                                    <span
                                                                        style="font-size:12px;color:white!important;line-height:16px">
                                                                        <a style="color:white!important"
                                                                            href="mailto:info@maxdigitizing.com"
                                                                            target="_blank">info@maxdigitizing.com</a>
                                                                    </span><br>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>